.header__searchbox {
    display: flex;
    border: 1px solid #F5F5F5;
    border-radius: 40px;
    margin-right: 8px;
    align-items: center;
}

.header__searchbox_icon {
    display: flex;
    align-items: center;
    padding: 8px;
}

.header__searchbox_text {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    background: transparent;
    border: none;
    outline: none;
}