.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 246px;
    height: 100%;
    padding-left: 32px;
    padding-right: 16px;
    border-right: 1px solid #DDDDDD;
}